.ui-dialog .ui-dialog-titlebar {
    font-size: 12px !important;
    padding: 0.1em 1em !important;
    background: black !important;
}

.ui-dialog .ui-dialog-title {
    color: white;
}

.ui-widget {
    font-family: unset;
}

.ui-autocomplete {
    max-height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.morpheus-sep {
    border-top: 1px solid #eee;
}

.dropdown-checkbox {
    margin-left: -16px !important;
}

.morpheus-button-divider {
    padding-left: 4px;
    display: inline;
}

.morpheus-hover-show {
    display: none !important;
}

.morpheus-hover:hover > .morpheus-hover-show {
    display: block !important;
}

.morpheus-hover:hover {
    background-color: #f5f5f5;
}

.morpheus-tip {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 24px;
    max-height: 24px;
    height: 24px;
    line-height: 1;
    color: #777;
}

.morpheus-sub-modal {
    /*modal has z-index: 1050;*/
    /*open dropdown has z-index: 1000;*/
    z-index: 1051;
}

.morpheus-tip-inline {
    font-size: 12px;
    z-index: 999;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0, 0, 0);
    color: black;
    text-align: left;
    padding: 1px;
    /*border-radius: 6px;*/
    /*box-shadow: rgba(0, 0, 0, 0.498039) 0px 5px 15px;*/
    overflow: hidden;
}

.morpheus-form-control-inline {
    display: inline !important;
    width: auto !important;
    margin-right: 1em !important;
}

.morpheus-tip-dialog {
    font-size: 12px !important;
    color: #777 ! important;
    padding: 2px !important;
    background-color: white !important;
}

.nav-tabs.compact > li > a {
    font-size: 0.9em;
    padding: 1px 5px;
    margin-right: 4px;
    line-height: 16px;
}

.form-compact .form-control {
    padding: 0px 2px;
    height: 22px;
    font-size: 13px;
}

.btn-xxs {
    padding: 1px 4px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.morpheus-menu {
    padding-right: 7px;
    padding-left: 7px;
    display: inline-block;
}

.morpheus-black-link {
    color: black;
}

.morpheus-black-link:focus {
    color: black;
    text-decoration: none;
}

.morpheus-black-link:hover {
    color: black;
    text-decoration: none;
}

.morpheus-black-link-background:hover {
    background-color: #e6e6e6;
}

.dropdown-menu > li > a.morpheus-menu-item {
    padding: 3px 6px 3px 24px;
}

.morpheus-menu-item-icon {
    margin-top: 3px;
    margin-left: -21px;
    float: left;
}

.morpheus-landing-panel {
    padding: 20px;
    border: 1px solid #707070;
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
}

.morpheus-file-drop.drag {
    border: 1px dotted #0571b0;
}

.morpheus-file-drop.drag .morpheus-drag-text {
    color: #0571b0;
}


.morpheus-nav {
    border-bottom: none;
}

.morpheus-preloaded {
    text-align: left;
}

.morpheus-preloaded label {
    font-weight: normal;
    display: block;
}

.nav-pills.morpheus > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #ca0020;
}

.morpheus-footer {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    color: #99979c;
    text-align: center;
    background-color: black;
}

.morpheus-footer a {
    color: #fff;
}

.morpheus-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}

.morpheus-footer-links li {
    display: inline-block;
}

.morpheus-footer-links li + li {
    margin-left: 15px;
}
